{% load static %}
<section class="service-2 section" id="aboutUs" style="outline: none;background: white;padding-top: 40px; padding-bottom: 30px;" data-scroll-id="aboutUs" tabindex="-1">
    <div class="container text-center" style="padding: 10px">
        <div class="text-xs-center" style="padding-bottom:0px">
<!-- section title --> 
            <div class="title text-center" style=" padding-top: 0px;padding-bottom: 0px;">
                <h2>HireSight</h2>
                <p>Recruitment System Made Easy</p>
            </div>

            <!-- /section title -->
            <div class="row text-center">
                <div class="col-md-4 col-sm-12">
                    <div class="service-item" style="background-color: #ddeeef;padding-top: 10px;padding-bottom: 0px; margin-bottom: 20px">
                        <img src="{% static 'images/aboutUs/opp1.png' %}" alt="support" style="border-radius: 50%" width="20%">
                        <h4>Oppurtunity</h4>
                        <p>Find the most suitable job according to interest, skill and knowledge.</p>
                        <br>
                    </div>
                </div>
                <!-- END COL -->
                <div class="col-md-4 col-sm-12">
                    <div class="service-item" style="background-color: #ddeeef;padding-top: 10px;padding-bottom: 0px; margin-bottom: 20px">
                        <img src="{% static 'images/company/ranking1.png' %}" alt="support" style="border-radius: 50%" width="20%">
                        <h4>CV Analysis</h4>
                        <p>Applicant CVs are analysed according to job criteria.</p>
                        <br>
                    </div>
                </div>
                <!-- END COL -->
                <div class="col-md-4 col-sm-12">
                    <div class="service-item" style="background-color: #ddeeef;padding-top: 10px;padding-bottom: 0px; margin-bottom: 20px">
                        <img src="{% static 'images/aboutUs/q&a.png' %}" alt="support" style="border-radius: 50%" width="20%">
                        <h4>Test</h4>
                        <p>Set of questions and answers for each job can be posted.</p>
                        <br>
                    </div>
                </div>
            </div> 

            <div class="row text-center">
                <!-- START COL -->
                <div class="col-md-4 col-sm-12">
                    <div class="service-item" style="background-color: #ddeeef;padding-top: 10px;padding-bottom: 0px; margin-bottom: 20px">
                        <img src="{% static 'images/aboutUs/criteria.png' %}" alt="support" style="border-radius: 50%" width="20%">
                        <h4>Set Criteria</h4>
                        <p>Criteria for each job can be set.</p>
                        <br><br>
                    </div>
                </div>
                <!-- END COL -->
                <!-- START COL -->
                <div class="col-md-4 col-sm-12">
                    <div class="service-item" style="background-color: #ddeeef;padding-top: 10px;padding-bottom: 0px; margin-bottom: 20px">
                        <img src="{% static 'images/aboutUs/ranking.png' %}" alt="support" style="border-radius: 50%" width="20%">
                        <h4>Automated Ranking</h4>
                        <p>Candidates ranked on the basis of CV Analysis and Q&A round.</p>
                        <br>
                    </div>
                </div>
                <!-- END COL -->
                <!-- START COL -->
                <div class="col-md-4 col-sm-12">
                    <div class="service-item" style="background-color: #ddeeef;padding-top: 10px;padding-bottom: 0px; margin-bottom: 20px">
                        <img src="{% static 'images/aboutUs/stats.png' %}" alt="support" style="border-radius: 50%" width="20%">
                        <h4>Statistics</h4>
                        <p>Get the statistics of each job.</p>
                        <br><br>
                    </div>
                </div>
                <!-- END COL -->
            </div>
    
        </div>
        <!-- End row -->
        <!--<a href="" class="btn btn-danger col-md-2 col-md-offset-5">Sign In</a>
        <a href="" class="btn btn-danger col-md-2 col-md-offset-5">Sign Up</a>
    --></div>
    <!-- End container -->
</section>
     
    