{% load static %}
<div class="wrap">
    <div id="arrow-left" class="arrow"></div>
    <div id="slider">
        <div class="slide slide1">
            <div class="slide-content">
                <span class="hrsight">
                    HireSight
                </span>
                <div class="sp_feature" style="width:30%">
                    Features:
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </div>
                <!-- <button class="btn" style="width:150px;height:60px;vertical-align:middle">
                    Apply For Jobs
                </button>
                <button class="btn1" style="width:150px;height:60px;vertical-align:middle">
                    Post For Jobs
                </button> -->
            </div>
        </div>
        <div class="slide slide2">
            <div class="slide-content">
                <span class="hrsight">
                    HireSight
                </span>
                <div class="sp_feature" style="width:30%">
                    Features:
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </div>
                <!-- <button class="btn" style="width:150px;height:60px;vertical-align:middle">
                    Apply For Jobs
                </button>
                <button class="btn1" style="width:150px;height:60px;vertical-align:middle">
                    Post For Jobs
                </button> -->
            </div>
        </div>
        <div class="slide slide3">
            <div class="slide-content">
                <span class="hrsight">
                    HireSight
                </span>
                <div class="sp_feature" style="width:30%">
                    Features:
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </div>
                <!-- <button class="btn" style="width:150px;height:60px;vertical-align:middle">
                    Apply For Jobs
                </button>
                <button class="btn1" style="width:150px;height:60px;vertical-align:middle">
                    Post For Jobs
                </button> -->
            </div>
        </div>
        <!-- <div class="slide slide3">
            <div class="slide-content" style="width:30%">
                    <span>
                            HireSight
                        </span>
                        <div class="sp_feature" style="width:30%">
                            Features:
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            Contrary to popular belief, Lorem Ipsum is not simply random text. 
                            It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                        </div>
                        <button class="btn">
                            Apply Job
                        </button>
                        <button class="btn1">
                            Post Job
                        </button>
        
            </div>
        </div> -->
        </div>   
    </div>
    <div id="arrow-right" class="arrow"></div>

</div>
<script type="text/javascript" src="{% static 'js/sliderJs.js' %}" ></script>