{% load static %}
<section class="service-2 section" id="company" style="outline: none;background: none;padding-top: 40px; padding-bottom: 30px;" data-scroll-id="company" tabindex="-1">
    <div class="container text-center" style="padding: 10px">
        <div class="text-xs-center" style="padding-bottom:0px">
<!-- section title --> 
            <div class="title text-center" style=" padding-top: 0px;padding-bottom: 0px;">
                <h2>Do you want to Hire? </h2>
                <p>Hire the Best</p>
            </div>

            <!-- /section title -->
            <div class="row text-center">
                <div class="col-md-4 col-sm-12">
                    <div class="service-item" style="background-color: #ffffff;padding-top: 10px;padding-bottom: 0px; margin-bottom: 20px">
                        <img src="{% static 'images/company/post.png' %}" alt="support" style="border-radius: 50%" width="20%">
                        <h4>Register & Post</h4>
                        <p>Register to HireSight and avail the oppurtunity to hire the best candidates. Post jobs.</p>
                        <br>
                    </div>
                </div>
                <!-- END COL -->
                <div class="col-md-4 col-sm-12">
                    <div class="service-item" style="background-color: #ffffff;padding-top: 10px;padding-bottom: 0px; margin-bottom: 20px">
                        <img src="{% static 'images/company/ranking1.png' %}" alt="support" style="border-radius: 50%" width="20%">
                        <h4>Rank candidates</h4>
                        <p>View the rankings of the candidates. Rankings are produced by the system.</p>
                        <br>
                    </div>
                </div>
                <!-- END COL -->
                <div class="col-md-4 col-sm-12">
                    <div class="service-item" style="background-color: #ffffff;padding-top: 10px;padding-bottom: 0px; margin-bottom: 20px">
                        <img src="{% static 'images/company/select.png' %}" alt="support" style="border-radius: 50%" width="20%">
                        <h4>Hire & Reject</h4>
                        <p>Hire or Reject the ranked candidates.</p>
                        <br><br>
                    </div>
                </div>
                
            </div> 
    
        </div>
        <!-- End row -->
        <a href="" class="btn btn-danger col-md-2 col-md-offset-5">Sign In</a>
        <a href="" class="btn btn-danger col-md-2 col-md-offset-5">Sign Up</a>
    </div>
    <!-- End container -->
</section>
    