<button id="btnScrollToTop">
	<i class="material-icons">arrow_upwards</i>
</button>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style type="text/css">
	#btnScrollToTop{
		position: fixed;
		right: 10px;
		bottom: 10px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #fed136;
		box-shadow: 0 0 10px rgba(0,0,0,0.25);
		color: #ffffff;
		outline: none;
		cursor: pointer;
	}
	#btnScrollToTop:active{
		background: #fed136;
	}
</style>
