{% load static %}
<!-- Team -->
<section class="bg-light page-section" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">Meet the team of HireSight.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <!-- <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt=""> -->
          <h4>Sumedh Ghavat</h4>
          <p class="text-muted">Roll no.19</p>
          <p class="text-muted">1 Year of experience in Web Development with vast knowledge about user interface design, user experience enhancement and machine learning.</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <!-- <img class="mx-auto rounded-circle" src="{%static 'images/team/vignesh.jpg'%}" alt=""> -->
          <h4>Vignesh Pillai</h4>
          <p class="text-muted">Roll no.56</p>
          <p class="text-muted">1 Year of Experience in Web Development. Good at Database design and management,logical back-end and core computational logic of website.</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <!-- <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt=""> -->
          <h4>Harshita Singh</h4>
          <p class="text-muted">Roll no.68</p>
          <p class="text-muted">1 year of experience in Web App Development with speciality in writing business logic, database designing, data and database management.
          </p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted"></p>
      </div>
    </div>
  </div>
</section>