{% load static %}
<section class="service-2 section" id="team" style="outline: none;background: white;padding-top: 40px; padding-bottom: 30px;" data-scroll-id="team" tabindex="-1">
    <div class="container text-center" style="padding: 10px">
        <div class="text-xs-center" style="padding-bottom:0px">
<!-- section title --> 
            <div class="title text-center" style=" padding-top: 0px;padding-bottom: 0px;">
                <h2>Developers</h2>
                <p>Team</p>
            </div>

            <!-- /section title -->
            <div class="row text-center">
                <div class="col-md-4 col-sm-12">
                    <div class="service-item" style="background-color: #ddeeef;padding-top: 10px;padding-bottom: 0px; margin-bottom: 20px">
                        <img src="{% static 'images/team/mem1.png' %}" alt="support" style="border-radius: 50%" width="20%">
                        <h4>Sumedh Ghavat</h4>
                        <p>Register to HireSight and upload/make your CV. Avail an Oppurtunity to employment.</p>
                        <br>
                    </div>
                </div>
                <!-- END COL -->
                <div class="col-md-4 col-sm-12">
                    <div class="service-item" style="background-color: #ddeeef;padding-top: 10px;padding-bottom: 0px; margin-bottom: 20px">
                        <img src="{% static 'images/team/mem2.jpg' %}" alt="support" style="border-radius: 50%" width="20%">
                        <h4>Vignesh Pillai</h4>
                        <p>Browse jobs according to skills and interests. Also browse dream company jobs.</p>
                        <br>
                    </div>
                </div>
                <!-- END COL -->
                <div class="col-md-4 col-sm-12">
                    <div class="service-item" style="background-color: #ddeeef;padding-top: 10px;padding-bottom: 0px; margin-bottom: 20px">
                        <img src="{% static 'images/team/mem3.png' %}" alt="support" style="border-radius: 50%" width="20%">
                        <h4>Harshita Singh</h4>
                        <p>Apply for multiple jobs at a time. Apply for multiple jobs at a time.</p>
                        <br>
                    </div>
                </div>
                
            </div> 
    
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
        
    