<div class="footer-dark" >
    <footer class="" style="height: 150px; background-color: #942020">
        <div class="container" style="color: white;">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#applicant" style="color:white"> Applicant </a></li>
                        <li><a href="#company" style="color:white"> Company </a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item ">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#" style="color:white">Company</a></li>
                        <li><a href="#team" style="color:white">Team</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>HireSight</h3>
                    <p>Recruitment System Made Easy!</p>
                </div>
            </div>
            <p class="copyright text-center">HireSight © 2019</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
