{% load static %}
<nav class="navbar navbar-expand-md navbar-light " style = "background-color: #ddeeef;" id = "navigation-bar">
    <!--style = "background-color: #ddddff;" style = "background-color: #ddeeef;"-->
    <a href="#" class="navbar-brand">
        <img class="logo-default img-responsive" src="{% static 'images/Logo _ HireSight.png' %}" height="50" alt="HireSight">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#aboutUs" class="nav-item nav-link active">About Us</a>    
            <a href="#" class="nav-item nav-link active">Browse Jobs</a>
        </div>
        <div class="navbar-nav ml-auto">
                <a href="#applicant" class="nav-item nav-link active" style = "font-weight: 1000;">Applicant</a>
            <a href="#company" class="nav-item nav-link active" style = "font-weight: 1000;">Company</a>
            <a href="#" class="nav-item nav-link active">
                Sign In
            </a>
            <a href="#" class="nav-item nav-link active">Sign Up</a>
            <a href="#" class="nav-item btn btn-danger" style="color:white; font-weight: 500">Post a Job</a>
        </div>
    </div>
</nav>
<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() <= 50) {
            $('.navbar').css({'background':'#ddeeef', 'margin-top': '0px'});
            $('.logo-default').attr({"src": "{% static 'images/Logo _ HireSight.png' %}", "height":"50"});
        } else {
            $('.navbar').css({'background':'white', 'margin-top': '-10px'});
            $('.logo-default').attr({"src": "{% static 'images/new_logo.png' %}", "height":"40"});
        }
    });
</script>