{% extends "layout/applicant_header.html" %}
{% load static %}
{% block applicant_content %}
<div class="row">
        <div class="col-md-4">
          <div class="card card-user">
            <div class="image">
              <img src="{% static 'img/damir-bosnjak.jpg' %}" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <a href="#">
                  <img class="avatar border-gray" src="{% static 'img/mike.jpg' %}" alt="...">
                  <!-- <i class="avatar nc-icon nc-circle-10 border-gray"></i> -->
                  <h5 class="title">{{name}}</h5>
                </a>
                <p class="description">
                  {{request.session.email}}
                </p>
              </div>
              <p class="description text-center">
                Execellance Through <br /> Innovation
              </p>
            </div>
            <div class="card-footer">
              <hr>
              <div class="button-container">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-6 ml-auto">
                    <h5>12
                      <br>
                      <small>Applied</small>
                    </h5>
                  </div>
                  <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                    <h5>2
                      <br>
                      <small>Accepted</small>
                    </h5>
                  </div>
                  <div class="col-lg-3 mr-auto">
                    <h5>10
                      <br>
                      <small>Rejected</small>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Teams</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled team-members">
                {% for team in teams %}
                <li>
                    <div class="row">
                        <div class="col-md-7 col-7">
                            Team1
                            <br />
                            <span class="text-muted">
                                  <small>Team Member</small>
                            </span>
                        </div>
                    </div>    
                </li>
                {% endfor %}
                    <!-- <div class="col-md-2 col-2">
                      <div class="avatar">
                        <img src="../assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                      </div>
                    </div>
                    <div class="col-md-7 col-7">
                      DJ Khaled
                      <br />
                      <span class="text-muted">
                        <small>Offline</small>
                      </span>
                    </div>
                    <div class="col-md-3 col-3 text-right">
                      <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></btn>
                    </div>
                  </div> -->
                <!-- <li>
                  <div class="row">
                    <div class="col-md-2 col-2">
                      <div class="avatar">
                        <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                      </div>
                    </div>
                    <div class="col-md-7 col-7">
                      Creative Tim
                      <br />
                      <span class="text-success">
                        <small>Available</small>
                      </span>
                    </div>
                    <div class="col-md-3 col-3 text-right">
                      <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></btn>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-md-2 col-2">
                      <div class="avatar">
                        <img src="../assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                      </div>
                    </div>
                    <div class="col-ms-7 col-7">
                      Flume
                      <br />
                      <span class="text-danger">
                        <small>Busy</small>
                      </span>
                    </div>
                    <div class="col-md-3 col-3 text-right">
                      <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></btn>
                    </div>
                  </div>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">Edit Profile</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Email Id : </label>
                      <input type="text" class="form-control" disabled="" placeholder="Company" value="{{request.session.email}}">
                    </div>
                  </div>
                  <!-- <div class="col-md-3 px-1">
                    <div class="form-group">
                      <label>Name : </label>
                      <input type="text" class="form-control" placeholder="Username" value="{{name}}">
                    </div>
                  </div> -->
                  <!-- <div class="col-md-4 pl-1">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Name : </label>
                      <input type="text" class="form-control" placeholder="Company" value="{{request.session.name}}">
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label>Address : </label>
                        <input type="text" class="form-control" placeholder="Home Address" value="Mumbai, Maharashtra, India">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- <div class="col-md-12">
                    <div class="form-group">
                      <label>Address</label>
                      <input type="text" class="form-control" placeholder="Home Address" value="Melbourne, Australia">
                    </div>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-md-4 pr-1">
                    <div class="form-group">
                      <label>City : </label>
                      <input type="text" class="form-control" placeholder="City" value="Mumbai">
                    </div>
                  </div>
                  <div class="col-md-4 px-1">
                    <div class="form-group">
                      <label>Country : </label>
                      <input type="text" class="form-control" placeholder="Country" value="India">
                    </div>
                  </div>
                  <div class="col-md-4 pl-1">
                    <div class="form-group">
                      <label>Postal Code : </label>
                      <input type="number" class="form-control" placeholder="400071">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- <div class="col-md-12">
                    <div class="form-group">
                      <label>About Me</label>
                      <textarea class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
                    </div>
                  </div> -->
                </div>
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}