<div class="modal fade" id="history_job_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header" >
            <h3 class="modal-title text-warning" id="history_details_modal_title"></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="history_details_modal_body">
            <!-- <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jon Snow">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">SSN</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="1234567">
                        </div>
                        <hr>
                        <label for="exampleFormControlTextarea1">Are you part of an existing team?</label>
                            <div class="form-check form-check-inline">
                                    
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                            
                            <div class="form-group">
                                    <label for="exampleFormControlTextarea1">If yes, enter Team Number</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="7654321">
                            </div>
                        <hr>

                        <label for="exampleFormControlTextarea1">Can you be a part of more than one team?</label>
                            <div class="form-check form-check-inline">
                                    
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>                                
                    </form> -->
            <!-- <div class="">
                <div class="alert">
                    <span>Job Details</span>
                </div>
            </div> -->
             
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Submit</button> -->
        </div>
        </div>
    </div>
</div>