{% extends "layout/applicant_header.html" %}
{% block applicant_content %}

<!--
    Write all JS functions in footer block or in a separate file
-->

<div class="mail-env">
  <div class="mail-body">
    <div class="row" id="search_results">
      <!-- Make the necessary changes -->
            <h2 class="text-center"><em>No jobs found!</em></h2>
    </div>
</div>
  {% include 'browse_jobs_filters.html' %}
</div>
{% include 'job_details_modal.html' %}
{% endblock %}

{% block applicant_footer %}

<script>

  function job_details(id) {
    //For rendering job details in a modal
    // Make the necessary changes
    // console.log(jobs[id]);
    // alert("Hello");

    var heading = jobs[id]["designation"] + "<br>" + "<small>Posted By :"+ jobs[id]["c_name"] + "</small>";
    
    var skills = "<ul>"
    for (var i = 0; i < jobs[id]["skills"].length; i++){
      skills += "<li>" + jobs[id]["skills"][i] + "</li>";
    }
    skills += "</ul>";
    
    var qualification = "<ul>"
    for (var i = 0; i < jobs[id]["qualification"].length; i++){
      qualification += "<li>" + jobs[id]["qualification"][i] + "</li>";
    }
    qualification += "</ul>";

    var url = "{% url 'test' %}";

    var text ="<h4 style='font-size: 20px;'><strong>Company Description : </h4></strong>" + jobs[id]["c_description"] + "<br><br>"
    + "<strong>Company Email : </strong>" + jobs[id]["c_email"] + "<br><br>" 
    + "<h4 style='font-size: 20px;'><strong>Job Description : </h4></strong>" + jobs[id]["d_description"] + "<br><br>" 
    + "<h4 style='font-size: 20px;'><strong>Skills Required : </h4></strong>" + skills 
    + "<br>" 
    + "<h4 style='font-size: 20px;'><strong>Qualification Required : </h4></strong>" + qualification + "<br>" 
    + "<small>Last Date to Apply : " + jobs[id]["last_date"] + "</small>" ;

      $("#job_details_modal_title").empty();
      $("#job_details_modal_title").append(heading);
      $("#job_details_modal_body").empty();
      $("#job_details_modal_body").append(text);
      // $("#apply_now_modal_btn").empty();
      $("#apply_now_modal_btn").attr("href",url);
  }


</script>


<script type="text/javascript">
  var jobs;
    function filter_data_location(){
        console.log($('#form1').serializeArray());
        $.ajax({
            type :"POST",
            url : "filter_location",
            data : {
                formData: JSON.stringify($('#form1').serializeArray()),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },  

            success : function(data,status){
                jobs = JSON.parse(JSON.stringify(data));

                $("#search_results").empty();
                
                for(var i = 0; i<jobs.length; i++){
                    url = "{% url 'test' %}";
                    // console.log(jobs[i])
                    var text = '<div class="member-entry" style="margin-left: 30px; margin-right: 30px;">'
                            +'<div class="member-details">'
                            +'<h4>' 
                            +'<a href="#job_details" data-toggle="modal" data-target="#job_details" onclick="job_details('+i+')">Designation : '
                            +jobs[i]['designation']
                            +'</a>' 
                            +'<a href="'+url+'" class="btn btn-primary pull-right">Apply Now</a></h4>'
                            +'<div class="row info-list">'
                            +'<div class="col-sm-4">'
                            +'<i class="entypo-briefcase"></i>Posted By <a href="#">'+jobs[i]['c_name']+'</a> '
                            +'</div>'
                            +'<div class="col-sm-4">'
                            +'<i class="entypo-mail"></i> <a href="#">'+jobs[i]['c_email']+'</a> '
                            +'</div>'
                            +'<div class="col-sm-4">'
                            +'<i class="entypo-phone"></i> <a href="#">'+jobs[i]['c_phone']+'</a> '
                            +'</div>'
                            +'<div class="clear"></div>'
                            +'<div class="col-sm-4">'
                            +'<i class="entypo-tools"></i> Skills: <a href="#">'+jobs[i]['skills']+'</a> '
                            +'</div>'
                            +'<div class="col-sm-4">'
                            +'<i class="entypo-newspaper"></i>Qualification: <a href="#">'+jobs[i]['qualification']+'</a> '
                            +'</div>'
                            +'<div class="col-sm-4">'
                            +'<i class="entypo-calendar"></i> Apply By <a href="#">'+jobs[i]['last_date']+'</a> '
                            +'</div>'
                            +'</div>'
                            +'</div>'
                            +'</div>';

                    $("#search_results").append(text);
                }
            }
        });
  }
</script>

{% endblock %}