
{% extends "layout/applicant_header.html" %}
{% load static %}
<!-- {% include "partials/applicant_header.html" %}
{% include "applicant_navbar.html" %}
{% block dash_content %}
<h1>Dashboard!</h1>
{% endblock %}
{% include "partials/applicant_footer.html" %} -->

{% block applicant_content %}
<h1 id = "dashboard">Dashboard!</h1>
{{name}}<br>
{{gender}}<br>
{{phone}}<br>
{{cv_file_path}}<br>
{{address}}<br>
{{dob}}<br>
<!-- <a href="{%url 'notifications' %}" style="color:red;">notifications</a> -->
{% endblock %}