<!--

    Write all JS fucntions in browse_jobs.html in the footer block

-->

<div class="modal fade" id="job_details" tabindex="-1" role="dialog" aria-labelledby="job_details" aria-hidden="true"> 
    <div class="modal-dialog" role="document"> 
        <div class="modal-content"> 
            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
                <h2 class="modal-title" id="job_details_modal_title"></h2> 
            </div> 
            <div class="modal-body"> 
                <h4 id="job_details_modal_body">
                    
                </h4>    
            </div> 
            <div class="modal-footer"> 
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button> 
                <button type="button" class="btn btn-primary">Apply Now</button> 
            </div> 
        </div> 
    </div> 
</div>

<!--

    Write all JS fucntions in browse_jobs.html in the footer block

-->
