{% comment %}
  Company Navbar Here!
  {{request.session.id}}
  {{request.session.email}}
{% endcomment %}
<div class="wrapper ">
    <div class="sidebar" data-color="orange" data-background-color="black">
      {% comment %}
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
      {% endcomment %}
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          HireSight
        </a>
        <a href="#" class="simple-text logo-normal">
          {{name}}
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" href="#0">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          {# your sidebar here #}
          <li class="nav-item  ">
            <a class="nav-link" href="{% url 'Company:run' %}">
              <i class="material-icons">dashboard</i>
              <p>Test</p>
            </a>
          </li>
          {# Logout Button #}
          <li class="nav-item  ">
            <a class="nav-link" href="{% url 'Company:log_out' %}">
              <i class="material-icons">dashboard</i>
              <p>Log Out</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>