{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}HireSight : Applicant{% endblock %}</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/paper-dashboard.css' %}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'demo/demo.css' %}" rel="stylesheet" />

    <script src="{% static 'js/core/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/core/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>
    {% comment %}
        <script src="{% static 'js/plugins/moment.min.js' %}"></script>

         Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/
        <script src="{% static 'js/plugins/bootstrap-switch.js' %}"></script>

         Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
        <script src="{% static 'js/plugins/nouislider.min.js' %}" type="text/javascript"></script>

         Google Maps Plugin   
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

        Chart JS
        <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>

         Notifications Plugin   
        <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>

        Control Center for Paper Dashboard: parallax effects, scripts for the example pages etc
    {% endcomment %}
    <script src="{% static 'js/paper-dashboard.js' %}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
      {% include "layout/applicant_navbar.html" %}
      {% block applicant_content %}
      {% endblock %}
      {% include "layout/applicant_footer.html" %}